html, body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: white; }

h1 {
  color: #FF4772;
  font-family: Lobster; }

nav a.navbar-brand {
  color: #FF4772 !important; }

div.main p {
  padding: 1em; }

div.main .aside h2 {
  text-align: center;
  color: #FF4772;
  padding: 8px 0;
  font-family: 'Lobster', cursive;
  border-top: solid 1px;
  border-bottom: solid 1px; }

div.main .aside a {
  font-family: Helvetica;
  font-size: 60%;
  vertical-align: middle;
  color: #FF4661; }

div.main .aside img {
  position: absolute;
  top: 0;
  left: 60px;
  width: 100px;
  transform: translate(0, -100%);
  -webkit-filter: invert(1);
          filter: invert(1); }
