$primary-color: #FF4772; 
$seconddary-color: #FF4661;

.black {
	color: rgb(31,31,31);
}

.yellowtail {
	font-family: Yellowtail;
}


html, body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans Condensed";
	background-color: white;
}

h1 {
	color: $primary-color;
	font-family: Lobster;
	
}

nav {
	#shoe-bar {

		border-bottom: solid 1px;
		border-top: solid 1px;
		
		a {
			padding: 2px 0;
		}

		ul > li {
			padding: 0 4px;
		}

		.brand-links {
			img, a {
				max-width: 100%;
				max-height: 26px;
			}
		}
	}
	color: rgb(31,31,31) !important;
	
	a.navbar-brand {
	font-size: 18px;
	font-family: "Lobster"
	}

	a {
		color: rgb(31,31,31) !important;
	}

	.kicks-title {
		font-size:  25px;
		font-variant-caps: all-small-caps;
	}
}

div.main {
	p {
		font-family: "Oswald";
		font-weight: 300;
	}

	.aside {
		h2 {
			text-align: center;
			color: $primary-color;
			padding: 8px 0;
			font-family: 'Lobster', cursive;
			border-top: solid 1px;
			border-bottom:solid 1px;
		}

		a {
			font-family: Helvetica;
			font-size: 60%;
			vertical-align: middle;
			color: $seconddary-color;
		}

		img {
			position: absolute;
			top: 0;
			left: 60px;
			width: 100px;
			transform: translate(0, -100%);
			filter: invert(1);
		}
	}
}